/*****MIXINS BOUTONS*****/
/*****MIXIN NUMERO SECTION FONCTIONNEMENT*****/
/*****MIXINS CARDS DE L'INDEX *****/
/***MENU ENTREES/PLATS/DESSERTS***/
/***MIXINS CARDS DES MENUS***/
/***GENERAL***/
body {
  margin: 0;
  font-family: "Roboto";
}

.footer {
  background: #353533;
  color: white;
}
.footer_titre {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  padding-top: 22px;
  padding-left: 25px;
  margin-top: 0;
}
.footer_list {
  list-style: none;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 22px;
}
.footer_list i {
  padding-right: 11px;
}
.footer_list a {
  text-decoration: none;
  color: white;
}
.footer_list li {
  padding-bottom: 7px;
}

.header {
  width: 100%;
  box-shadow: 0px 2px 4px black;
  display: flex;
  justify-content: center;
}
.header_logo {
  width: 162px;
  height: 44px;
  padding-top: 14px;
  padding-bottom: 5px;
}
.header_precedent {
  font-size: x-large;
  color: black;
  position: relative;
  top: 20px;
  right: 45px;
}
.header_precedent a {
  text-decoration: none;
  color: black;
}

/***SECTION EN-TETE***/
.entete {
  background-color: #eaeaea;
  text-align: center;
}
.entete_titre {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
}
.entete_titre i {
  padding-right: 17px;
}

/****SECTION INTRO****/
.intro {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #f2f2f2;
}
.intro_titre {
  width: 100%;
  font-size: 24px;
  margin: 39px 58px 0 42px;
  text-align: center;
}
.intro_p {
  width: 100%;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 27px;
}
.intro_btn {
  padding: 13px 18px 13px 18px;
  border-radius: 25px;
  color: white;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  font-family: "Roboto";
  border-color: transparent;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 57px;
}

/***SECTION FONCTIONNEMENT***/
.fonctionnement {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.fonctionnement_number {
  border: 1px solid #9356dc;
  border-radius: 50%;
  padding: 2px 7px;
  background-color: #9356dc;
  color: white;
  position: absolute;
  left: 15px;
}
.fonctionnement_titre {
  font-size: 24px;
  padding-left: 20px;
  margin-bottom: 26px;
  margin-top: 48px;
}
.fonctionnement_btn {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 28px 28px 28px 28px;
  background: #f7f7f7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  border-color: transparent;
  margin-bottom: 24px;
  margin-left: 30px;
  margin-right: 20px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.fonctionnement_btn:hover {
  background-color: #f4b4dc;
}
.fonctionnement_btn i {
  padding-right: 27px;
  color: #7e7e7e;
}

/****SECTION RESTAURANT****/
.restaurant {
  position: relative;
  padding-top: 54px;
  width: 100%;
  background: #eaeaea;
  margin-top: 68px;
  padding-bottom: 66px;
}
.restaurant_new {
  color: #008766;
  background-color: #99e2d0;
  padding: 7px;
  margin: 0;
  margin-top: 5px;
  position: absolute;
  right: 50px;
}
.restaurant_lien {
  text-decoration: none;
  color: black;
}
.restaurant_titre {
  margin-top: 0;
  padding-left: 20px;
}
.restaurant_card {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  border-radius: 15px;
  margin-bottom: 18px;
  margin-left: 14px;
  margin-right: 14px;
}
.restaurant_card_img {
  height: 231px;
  width: 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  object-fit: cover;
  height: 231px;
}
.restaurant_card_info {
  padding-left: 13px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.restaurant_card_info h3 {
  font-size: 18px;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 5px;
}
.restaurant_card_info p {
  margin: 0;
  padding-bottom: 12px;
  font-weight: 300;
  font-size: 17px;
}

.heart {
  padding-right: 25px;
  border: none;
  background-color: transparent;
  font-size: 22px;
}
.heart:hover {
  background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main {
  width: 100%;
  background: white;
}

.corp_de_page {
  padding-top: 32px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0;
  background-color: #f6f6f6;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  transform: translateY(-40px);
}
.corp_de_page_img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}
.corp_de_page_icon {
  font-size: xx-large;
  padding-right: 41px;
}
.corp_de_page_icon:hover {
  background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.corp_de_page_entete {
  font-family: "Shrikhand";
  font-style: italic;
  font-size: 28px;
  font-weight: 400;
  padding-left: 17px;
  margin: 0;
}

.menu {
  background-color: #f6f6f6;
  width: 100%;
}
.menu_titre {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  margin-left: 13px;
  width: 40px;
  padding-bottom: 5px;
  border-bottom: 4px solid #99e2d0;
}

.menu_card {
  background: #ffffff;
  border-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin-bottom: 12px;
  margin-left: 13px;
  margin-right: 13px;
}
.menu_info {
  padding-left: 12px;
  display: flex;
}
.menu_prix {
  margin-left: auto;
}
.menu_check {
  font-size: x-large;
  color: white;
  padding-left: 19px;
  padding-right: 19px;
  border-radius: 0px 15px 15px 0;
  background-color: #99e2d0;
}

.commander {
  display: flex;
  justify-content: center;
}
.commander_btn {
  padding: 13px 18px 13px 18px;
  border-radius: 25px;
  color: white;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  font-family: "Roboto";
  border-color: transparent;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  margin: 53px 0px 53px 0;
}

/*# sourceMappingURL=style.css.map */
