$couleur-primaire:#9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertizire: #99E2D0;


body{
    margin:0;
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);

    &._logo{
        width:162px;
        height:44px;
    }

}

.corp_de_page{
    background-color:#EAEAEA ;
}

.intro{
    display:flex;
    justify-content: center;

    &._titre{
        font-size:24px;
        font-family:'Roboto';
    }

    &_btn{
        padding: 13px 18px 13px 18px;
        border-radius:25px;
        color:white;
        background-color: linear-gardient(193.33deg, $couleur-primaire -11.44%, $couleur-secondaire 123.93%);
        border-color: transparent;
    }
}
