
body{
    margin:0;
}

/***** HEADER ******/

.header{
    width: 100%;
    display: flex;
   justify-content: center;
   flex-wrap: wrap;
   background: #ffff ;
   box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
}


/*****MAIN*****/

.corp_de_page{
    width: 100%;
    font-family: 'Roboto';
}
.entete_localisation{
    width: 100%;
    flex-direction: row;
    text-align: center;
    background: #d2d2d2;
    padding-top: 15.5px;
    padding-bottom:15.5px;
    font-size: 16px;
}
.entete_localisation i {
    padding-right:17px;
}

.entete_localisation h2{
    margin:0;
}
/****SECTION INTRO *****/

.intro{
    text-align: center;
    background: #eaeaea;
}

.intro_btn{
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    color:white;
    padding: 13px 18px 13px 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    border-color:transparent;
}
.intro_titre{
    margin: 0;
}



/******SECTION FONCTIONNEMENT*******/
.fonctionnement{
    display: flex;
    position:relative;
    flex-direction: column;
    align-items: center;
}
.fonctionnement_titre{
    width: 100%;
    margin-top: 48px;
    margin-bottom: 26px;
    padding-left: 20px;
}

.btn{
    
    font-family: 'Roboto';
    border-radius: 20px;
    background: #f7f7f7;
    box-shadow: 0px 4px 15px grey;
    border-color: transparent;
    padding-top: 28px;
    padding-right: 38px;
    padding-bottom: 28px;
    margin-bottom: 28px;
}
.btn i {
    padding-right: 27px;
    padding-left: 34px;
}


/*****SECTION RESTAURANT*****/

.restaurant{
    display: flex;
    flex-wrap: wrap;
    background-color: #d2d2d2;
    padding-left: 18px;
    padding-right:18px ;
}
.restaurant_titre{
    width: 100%;
    justify-content: flex-start;
    margin-left: 20px;
}
.restaurant_card {
    width: 100%;
    justify-content: center;
    box-shadow: 0 4px 15px  rgba(0,0,0,0.1);
    border-radius:15px ;
    background-color: #FFFF;
    margin-bottom: 18px;
    
  }

  .restaurant_card_info {
    padding-bottom:5px;
    margin-left:18px;
    margin-right: 18px;
  }

.restaurant_card_img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
}


/***FOOTER***/

