/***SECTION EN-TETE***/

.entete {
  background-color: #eaeaea;
  text-align: center;

  &_titre {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
  }

  &_titre i {
    padding-right: 17px;
  }
}

/****SECTION INTRO****/

.intro {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #f2f2f2;

  &_titre {
    width: 100%;
    font-size: 24px;
    margin: 39px 58px 0 42px;
    text-align: center;
  }

  &_p {
    width: 100%;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 27px;
  }

  &_btn {
    @include bouton_explor_and_command;
    margin-bottom: 57px;
  }
}

/***SECTION FONCTIONNEMENT***/

.fonctionnement {
  width: 100%;
  display: flex;
  flex-direction: column;

  &_number {
    @include number;
    position: absolute;
    left: 5px;
  }

  &_titre {
    font-size: 24px;
    padding-left: 20px;
    margin-bottom: 26px;
    margin-top: 48px;
  }

  &_btn {
    @include boutonFonction;
    &:hover {
      @include hover_fonction;
    }

    i {
      padding-right: 27px;
      color: #7e7e7e;
    }
  }
}

/****SECTION RESTAURANT****/

.restaurant {
  position: relative;
  padding-top: 54px;
  width: 100%;
  background: #eaeaea;
  margin-top: 68px;
  padding-bottom: 66px;

  &_new {
    @include new;
    margin-top: 5px;
    position: absolute;
    right: 50px;
  }

  &_lien {
    @include lienSimple;
  }

  &_titre {
    margin-top: 0;
    padding-left: 20px;
  }

  &_card {
    @include cards;

    &_img {
      @include cards_img;
      height: 231px;
    }

    &_info {
      padding-left: 13px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &_info h3 {
      font-size: 18px;
      font-weight: 700;
      margin-top: 16px;
      margin-bottom: 5px;
    }

    &_info p {
      margin: 0;
      padding-bottom: 12px;
      font-weight: 300;
      font-size: 17px;
    }
  }
}
.heart {
  @include favoris;
  &:hover {
    @include hover_favoris;
  }
}
