@media screen and (min-width:992px){
    .restaurant{
        padding-top:30px;
        margin-top:50px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap:92px;
    
        &_titre{
            padding-left:40px;
            padding-top:0;
            width: 100%;
            margin-bottom:-32px;
        }
    
        &_card{
            
            width: 40%;
            position: relative;
        }   
    }
    }

@media screen and (min-width:1022px){


.fonctionnement{
    display: flex;
    flex-wrap: wrap;
    
& h2{
    width: 100%;
    
}
& ol {
  
   width: 100%;
   flex-direction: row;
   gap:10px;
}
& li {
    width: 25%;
    margin: 0 20px 0 20px;
    cursor: pointer;
}

}
}

@media screen and (min-width:1022px){
.restaurant{
    padding-top:30px;
    margin-top:50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap:92px;

    &_titre{
        padding-left:40px;
        padding-top:0;
        width: 100%;
        margin-bottom:-32px;
    }

    &_card{
        
        width: 40%;
        position: relative;
    }   
}
}



@media screen and (min-width:1022px){

    .footer{
        display: flex;
        flex-direction: row-reverse;

        &_list{
            margin-top: 58px;
            display: flex;
            gap: 10px;
        }
        &_titre{
            padding:0;
            margin: 56px 26px 30px 16px;
        }
    }
}

@media screen and (min-width:1022px){

    .restaurant_grostitre{
        margin-left:192px;
        margin-right:192px;
        display: flex;
        justify-content: center;
     & i {
        position: relative;
        left:20px;

        &.fa-solid{
            left:-13px;
        }
     }
    }
   
    .menu {
          margin-left: 192px;
          margin-right: 192px;
          padding-left:100px;
          padding-right:100px;
        
}
.commander{
    margin-left: 192px;
    margin-right:192px;
}
}


@media screen and (min-width:1440px){

    .fonctionnement{

        h2{
            padding-left: 180px;
        }

        ol{
            padding-left:170px;
        }
    }
}

@media screen and (min-width:1440px){

    .restaurant{

        &_titre{
            padding-left:140px;
        }
}
.restaurant_grostitre{
    border-radius: 40px 40px 0 0;
    margin-top: -40px;
}
.menu{
    margin-left:192px;
    margin-right: 193px;
    padding-left: 210px;
    padding-right:211px;
}
}