.main {
  width: 100%;
  background: white;
}

.corp_de_page {
  padding-top: 32px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0;
  background-color: #f6f6f6;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  transform: translateY(-40px);

  &_img {
    width: 100%;
    height: 275px;
    object-fit: cover;
  }

  &_icon {
    font-size: xx-large;
    padding-right: 41px;

    &:hover {
      @include hover_favoris;
    }
  }

  &_entete {
    font-family: "Shrikhand";
    font-style: italic;
    font-size: 28px;
    font-weight: 400;
    padding-left: 17px;
    margin: 0;
  }
}
.menu {

  background-color: #f6f6f6;
  width: 100%;
  &_titre {
    @include titre_menu;
    margin-top: 0;
  }
}

.menu{

  &_card{
  @include card_menu;
  }

  &_info{
    @include menu_info;

    &_ingredient{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    
    h3{
      margin-top:12px;
      margin-bottom:5px;
    }
    p{
      margin:0;
    }
}
}

.btn_commander {
  @include bouton_explor_and_command;
  margin-top: 40px;
  margin-bottom: 40px;
}
