.loader{
    background:  linear-gradient(193.33deg, $couleur-primaire -11.44%, $couleur-secondaire 123.93%);;
    height: 100vh;
    position:fixed;
    inset: 0;
    z-index:1;
    display:flex;
    justify-content: center;
    align-items: center;
    animation-delay:5s;
    animation: stop_anim 300ms 5s forwards;
  
&_element{
    content:"";
    padding: 40px;
    border: 10px solid $couleur-primaire;
    border-top: 10px solid $couleur-secondaire;
    border-radius: 50px;
    position:relative;
    animation: rotation 2s infinite;
 
}
}

@keyframes stop_anim{
    to{
        transform:scale(0);
    }
}
@keyframes rotation {

to {
   transform: rotate(360deg);
}
}

