/**.loader{
    background:  linear-gradient(193.33deg, $couleur-primaire -11.44%, $couleur-secondaire 123.93%);;
    height: 100vh;
    position:fixed;
    inset: 0;
    z-index:1;
    opacity: 0.9;
    display:flex;
    justify-content: center;
    align-items: center;
   
}

.element_loader{
    content:"";
    padding: 40px;
    border: 10px solid $couleur-primaire;
    border-top: 10px solid $couleur-secondaire;
    border-radius: 50px;
    position:relative;
    animation: rotation 1s linear infinite;

}
@keyframes rotation{
    from{
transform: rotate(360deg);
}
to {
    animation:none;
}
}**/

