.footer {
  background: #353533;
  color: white;

  &_titre {
    font-family: "Shrikhand";
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    padding-top: 22px;
    padding-left: 25px;
    margin-top: 0;
  }

  &_list {
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 22px;
    margin-bottom:0;

    i {
      padding-right: 11px;
    }

    a {
      text-decoration: none;
      color: white;
    }
    li{
      padding-bottom: 7px;
      
    }
  }
}
